<p><%= t "hi" %> <%= @user.name %>,</p>
<p><%= t "welcome_to" %> <%= t "click_to_activate" %> </p>
<%= link_to t("activate"), edit_account_activation_url(id: @user.activation_token, email: @user.email) %>
